$primary: $white;
$gray-900: #220b0d;
$body-bg: $gray-900;
$body-color: $gray-300;
$yellow: #d7ab6d;
$headings-color: $yellow;
$red: rgb(123, 41, 23);
$blue: rgb(0, 174, 255);
$gray-800: rgba(52, 46, 41, 0.8);
$navbar-dark-color: rgba($white, 0.9);
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$navbar-dark-active-color: $yellow;
$navbar-dark-hover-color: rgba($yellow, 0.75);
$navbar-dark-brand-color: $yellow;
$navbar-dark-brand-hover-color: rgba($yellow, 0.5);
$navbar-brand-font-size: $font-size-lg;
